# Dependency & Package management
node_modules/
.pnpm-store/

# Playwright Test Results & Reports (Бичлэг, скрийншот, тайлангууд)
test-results/
playwright-report/
blob-report/
playwright/.cache/

# Environment & Cache
.env
.DS_Store
.idea/
.vscode/
*.log
